<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cupk.mapper.AddressMapper">
    <!--    添加地址-->
    <insert id="addAddressByU">
        insert into useraddress(address,userid,username,userphone)
        values(#{address},#{userid},#{username},#{userphone})
    </insert>
</mapper>