<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cupk.mapper.WantBuyMapper">
<!--    添加求购-->
    <insert id="addwantbuy" useGeneratedKeys="true" keyProperty="id">
        insert into want_buy(title,content,userid,state,address,type)
        values(#{title},#{content},#{user_id},#{state},#{address},#{type})
    </insert>

    <select id="getAllwantbuy" resultMap="getAllwantbuyResult">
        select * from want_buy
    </select>
    <resultMap id="getAllwantbuyResult" type="want_buy">
       <id property="id" column="id"></id>
        <result property="title" column="title"></result>
        <result property="content" column="content"></result>
        <result property="user_id" column="user_id"></result>
        <result property="address" column="address"></result>
    </resultMap>
    <select id="selectwanbuybyU" resultType="want_buy">
        select * from want_buy where userid=#{userid}
    </select>

</mapper>